<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="12bool.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>
        <div id=root>
            <header>
                <div class="container">
                    <div class="header-top">
                        <div class="header-top-left">
                            <img src="images/dark-logo.png" alt="">
                        </div>
                        <div class="header-top-right">
                            <div class="nav">
                                <a href="#" v-for="item in nav_items">
                                    {{item}}
                                    <i class="fas fa-chevron-down"></i>
                                </a>
                            </div>
                            <div class="search-cont">
                                <i class="fas fa-shopping-cart">
                                    <span>0</span>
                                </i>
                                <i class="far fa-user-circle"></i>
                                <input type="text" name="" value="" placeholder="  Search...">
                                <i class="fas fa-search"></i>
                            </div>
                            <div class="hamburger-menu">
                                <i class="fas fa-bars"></i>
                            </div>
                        </div>
                    </div>
                    <div class="header-bottom">
                        <div class="header-bottom-left">
                            <h2>Complete Your Dreams in JavaS Programming</h2>
                            <p>Learn any coding program in distance and for a reasonable fee. You don't have to struggle alone, you've got our assistance and help</p>
                            <button type="button" name="button">
                                <i class="fas fa-download"></i>
                                Download free E-book
                            </button>
                        </div>
                        <div class="header-bottom-right">
                            <img src="images/home-5-hero-image.png" alt="">
                        </div>
                    </div>
                </div>
            </header>
            <section class="targets">
                <div class="container">
                    <div class="learning">
                        <p class="text_min">START LEARNING CODING LANGUAGES</p>
                        <h2>Build Your Dream <span>TODAY</span> </h2>
                    </div>
                    <div class="categories">
                        <div class="category col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
                            <div class="img-cont">
                                <img src="images/home-5-image-box-01.png" alt="">
                            </div>
                            <h4>Idea Discussion</h4>
                            <p class="text_min">Get teamed up with the specialists who work and teach coding for years at famous univeristies.</p>
                            <a href="#">Start now
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                        <div class="category col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
                            <div class="img-cont">
                                <img src="images/home-5-image-box-02.png" alt="">
                            </div>
                            <h4>Web Development</h4>
                            <p class="text_min">Learn to stert building a web page from scratch. You decide your own pace, course and speed.</p>
                            <a href="#">Start now
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                        <div class="category col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
                            <div class="img-cont">
                                <img src="images/home-5-image-box-03.png" alt="">
                            </div>
                            <h4>System Administration</h4>
                            <p class="text_min">Learnes are encouraged to study the mechanism and structure of system administration.</p>
                            <a href="#">Start now
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                        <div class="category col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
                            <div class="img-cont">
                                <img src="images/home-5-image-box-04.png" alt="">
                            </div>
                            <h4>Graphic Design</h4>
                            <p class="text_min">Have a passion for graphics and arts? Show your talents whit confidence and self-assertiveness.</p>
                            <a href="#">Start now
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="career-prospective">
                        <div class="career-prospective-left col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <img src="images/about-us-03-image-01.png" alt="">
                        </div>
                        <div class="career-prospective-right col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <p class="text_min">DREAM WITH <strong>MAXCOACH</strong></p>
                            <h2>Construct A <span>Stunning</span> Career Perspective</h2>
                            <div class="Platform-Supported">
                                <div class="Platform-Supported-header">
                                    <p class="text_white">Multiple Platforms Supportered for Teaching & Studying</p>
                                    <i class="fas fa-minus-circle "></i>
                                </div>
                                <div class="Platform-Supported-main">
                                    <p>MaxCoach supports the act of teaching and learning on multiple platforms like online or offline via material downloads. We know things aren't supposed to be devoured in a short time, you can always access our knowledge base from any device. </p>
                                </div>
                            </div>
                            <div class="multiple-course">
                                <p>Multiple Course Participation at the Same Time</p>
                                <i class="fas fa-plus-circle text_gray"></i>
                            </div>
                            <div class="sudy-progress">
                                <p>Track Study Progress & Deliver Prompt Feedback</p>
                                <i class="fas fa-plus-circle text_gray"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="statistics">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                            <h2 class="text_green">1.926</h2>
                            <p class="text_violet font-bold">FINISHED SESSIONS</p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                            <h2 class="text_green">3.092+</h2>
                            <p class="text_violet  font-bold">ENROLLED LEARNERS</p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                            <h2 class="text_green">200</h2>
                            <p class="text_violet  font-bold">ONLINE INSTRUCTORS</p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                            <h2 class="text_green">100%</h2>
                            <p class="text_violet  font-bold">SATISFACTION RATE</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="prices">
                <div class="container">
                    <p class="text_min">CHOOSE WHERE YOU'D LIKE TO BEGIN</p>
                    <h2>Latest Featured <span>Courses</span></h2>
                    <div class="cards">
                        <div class="card-cont col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                            <div class="card">
                                <div class="card-top">
                                    <img src="images/course-02-480x298.jpg" alt="">
                                    <div class="price">
                                        <span>$40.<span>00</span></span>
                                    </div>
                                </div>
                                <div class="card-bottom">
                                    <div class="text_gray align-center">
                                        <img src="images/73ee246daf47502812ccefc84bf02898.jpeg" alt="">
                                        <span>Blanche Fields</span>
                                    </div>
                                    <h4 class="text">Learning to Write as a Professional Author</h4>
                                    <div class="text_gray">
                                        <span>
                                            <i class="far fa-file-alt"></i>
                                            20 Lessons
                                        </span>
                                        <span>
                                            <i class="far fa-user"></i>
                                            50 Students
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-cont col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                            <div class="card">
                                <div class="card-top">
                                    <img src="images/stock-full-hd-03-480x298.jpg" alt="">
                                    <div class="price">
                                        <span>Free</span>
                                    </div>
                                </div>
                                <div class="card-bottom">
                                    <div class="text_gray align-center">
                                        <img src="images/d0d504142acfde820eef2f11feea6253.jpeg" alt="">
                                        <span>Maggie Strickland</span>
                                    </div>
                                    <h4 class="text">Customer-centric Info-Tech Strategies</h4>
                                    <div class="text_gray">
                                        <span>
                                            <i class="far fa-file-alt"></i>
                                            24 Lessons
                                        </span>
                                        <span>
                                            <i class="far fa-user"></i>
                                            769 Students
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-cont col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                            <div class="card">
                                <div class="card-top">
                                    <img src="images/stock-full-hd-04-480x298.jpg" alt="">
                                    <div class="price">
                                        <span>$19.<span>00</span></span>
                                    </div>
                                </div>
                                <div class="card-bottom">
                                    <div class="text_gray align-center">
                                        <img src="images/d0d504142acfde820eef2f11feea6253.jpeg" alt="">
                                        <span>Maggie Strickland</span>
                                    </div>
                                    <h4 class="text">Open Programming Courses for Everyone: Python</h4>
                                    <div class="text_gray">
                                        <span>
                                            <i class="far fa-file-alt"></i>
                                            17 Lessons
                                        </span>
                                        <span>
                                            <i class="far fa-user"></i>
                                            62 Students
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-cont col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                            <div class="card">
                                <div class="card-top">
                                    <img src="images/stock-full-hd-06-480x298.jpg" alt="">
                                    <div class="price">
                                        <span>$26.<span>00</span></span>
                                    </div>
                                </div>
                                <div class="card-bottom">
                                    <div class="text_gray align-center">
                                        <img src="images/73ee246daf47502812ccefc84bf02898.jpeg" alt="">
                                        <span>Blanche Fields</span>
                                    </div>
                                    <h4 class="text">Academic Listening and Note-taking</h4>
                                    <div class="text_gray">
                                        <span>
                                            <i class="far fa-file-alt"></i>
                                            14 Lessons
                                        </span>
                                        <span>
                                            <i class="far fa-user"></i>
                                            67 Students
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-cont col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                            <div class="card">
                                <div class="card-top">
                                    <img src="images/course-featured-image-01-480x298.jpg" alt="">
                                    <div class="price">
                                        <span>$39.<span>00</span></span>
                                    </div>
                                </div>
                                <div class="card-bottom">
                                    <div class="text_gray align-center">
                                        <img src="images/73ee246daf47502812ccefc84bf02898.jpeg" alt="">
                                        <span>Blanche Fields</span>
                                    </div>
                                    <h4 class="text">Master jQuery in a Short Period of Time</h4>
                                    <div class="text_gray">
                                        <span>
                                            <i class="far fa-file-alt"></i>
                                            6 Lessons
                                        </span>
                                        <span>
                                            <i class="far fa-user"></i>
                                            51 Students
                                        </span>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="card-cont col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                            <div class="card">
                                <div class="card-top">
                                    <img src="images/stock-full-hd-05-480x298.jpg" alt="">
                                    <div class="price">
                                        <span>$59.<span>00</span></span>
                                    </div>
                                </div>
                                <div class="card-bottom">
                                    <div class="text_gray align-center">
                                        <img src="images/73ee246daf47502812ccefc84bf02898.jpeg" alt="">
                                        <span>Blanche Fields</span>
                                    </div>
                                    <h4 class="text">Introduction to Javascript for Beginners</h4>
                                    <div class="text_gray">
                                        <span>
                                            <i class="far fa-file-alt"></i>
                                            14 Lessons
                                        </span>
                                        <span>
                                            <i class="far fa-user"></i>
                                            76 Students
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" name="button">View all courses
                         <i class="fas fa-arrow-right"></i>
                     </button>
                </div>
            </section>
            <section class="learn">
                <div class="container">
                    <div class="pace">
                        <div class="pace-left col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <p class="text_min">WHY HESITATE TO REGISTER?</p>
                            <h2>Learn At Your Own <span>Pace</span></h2>
                            <p>
                                <i class="fas fa-check"></i>
                            Select & customize courses to your preferences
                            </p>
                            <p>
                                <i class="fas fa-check"></i>
                            Change the tutor and make arrangements
                            </p>
                            <p>
                                <i class="fas fa-check"></i>
                            Participate in events to join others
                            </p>
                            <p>
                                <i class="fas fa-check"></i>
                                Get the desired certificate delivered at house
                            </p>
                            <button type="button" name="button">Get started for free</button>
                        </div>
                        <div class="pace-right col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <img src="images/home-5-image-01.png" alt="">
                        </div>
                    </div>
                    <div class="mobile">
                        <div class="mobile-left col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <img src="images/home-5-image-02.png" alt="">
                        </div>
                        <div class="mobile-right col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <p class="text_min">WHAT ARE YOU LOOKING FOR?</p>
                            <h2>Learn on your <span>mobile</span> anytime!</h2>
                            <p>
                            Save lessons for later and revise or write notes at any time and on multiple devices on your way. Never interfere with activities of enjoyment or other precious moments.
                            </p>
                            <button type="button" name="button">Download Our App</button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="events">
                <div class="container">
                    <p class="text_min">GET IN CONTACT NOW</p>
                    <h2>Upcoming <span>Events</span></h2>
                    <div class="events-list">
                        <div class="event-cont col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="event">
                                <div class="event-left">
                                    <p>
                                        <i class="fas fa-map-marker-alt"></i>
                                        Texas,US
                                    </p>
                                    <p class="text-black text-bold">Storytelling Workshop</p>
                                </div>
                                <div class="event-right">
                                    <p class="text_green">22</p>
                                    <p class="text-black text-bold">NOV</p>
                                    <button type="button" name="button">Get ticket</button>
                                </div>
                            </div>
                        </div>
                        <div class="event-cont col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="event">
                                <div class="event-left">
                                    <p>
                                        <i class="fas fa-map-marker-alt"></i>
                                        New York, US
                                    </p>
                                    <p class="text-black text-bold">Painting Art Contest 2020</p>
                                </div>
                                <div class="event-right">
                                    <p class="text_green">10</p>
                                    <p class="text-black text-bold">OCT</p>
                                    <button type="button" name="button">Get ticket</button>
                                </div>
                            </div>
                        </div>
                        <div class="event-cont col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="event">
                                <div class="event-left">
                                    <p>
                                        <i class="fas fa-map-marker-alt"></i>
                                         Hamburg, Germany
                                    </p>
                                    <p class="text-black text-bold">International Art Fair 2020
                                    </p>
                                </div>
                                <div class="event-right">
                                    <p class="text_green">23</p>
                                    <p class="text-black text-bold">NOV</p>
                                    <button type="button" name="button">Get ticket</button>
                                </div>
                            </div>
                        </div>
                        <div class="event-cont col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="event">
                                <div class="event-left">
                                    <p>
                                        <i class="fas fa-map-marker-alt"></i> Illinois, US
                                    </p>
                                    <p class="text-black text-bold">
                                        Street Performance: Call for Artist
                                    </p>
                                </div>
                                <div class="event-right">
                                    <p class="text_green">15</p>
                                    <p class="text-black text-bold">DEC</p>
                                    <button type="button" name="button">Get ticket</button>
                                </div>
                            </div>
                        </div>
                        <div class="event-cont col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="event">
                                <div class="event-left">
                                    <p>
                                        <i class="fas fa-map-marker-alt"></i>
                                        Illinois, US
                                    </p>
                                    <p class="text-black text-bold">Consumer Food Safety Education Conference
                                    </p>
                                </div>
                                <div class="event-right">
                                    <p class="text_green">22</p>
                                    <p class="text-black text-bold">JUL</p>
                                    <button type="button" name="button">Get ticket</button>
                                </div>
                            </div>
                        </div>
                        <div class="event-cont col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="event">
                                <div class="event-left">
                                    <p>
                                        <i class="fas fa-map-marker-alt"></i>
                                        Dubai
                                    </p>
                                    <p class="text-black text-bold">How meditation improve your mental health?
                                    </p>
                                </div>
                                <div class="event-right">
                                    <p class="text_green">12</p>
                                    <p class="text-black text-bold">AUG</p>
                                    <button type="button" name="button">Get ticket</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="text_gray">Excited about our event?</span><a href="#" class="text_green"> View all events
                        <i class="fas fa-arrow-right"></i> </a>
                </div>
            </section>
            <section class="reviews">
                <div class="container">
                    <p class="text_min">PEOPLE ARE PRAISING MAXCOACH</p>
                    <h2>What make they <span>love us?</span></h2>
                    <div class="slider">
                        <div class="slide-cont col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="slide">
                                <img src="images/testimonial-avata-02.jpg" alt="">
                                <p class="text-bold">I am free to learn at my own pace, follow my own schedule and choose the subject I like. Great study portal for people like me.</p>
                                <p class="text-bold text-black">MINA HOLLANCE</p>
                                <p>/ Freelancer</p>
                            </div>
                        </div>
                        <div class="slide-cont col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="slide">
                                <img src="images/testimonial-avata-04.jpg" alt="">
                                <p class="text-bold">
                                MaxCoach is my best choice. Their tutors are smart and professional when dealing with students.		</p>
                                <p class="text-bold text-black">MADLEY PONDOR</p>
                                <p>/ IT Specialist</p>
                            </div>
                        </div>
                        <div class="slide-cont col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="slide">
                                <img src="images/testimonial-avata-01.jpg" alt="">
                                <p class="text-bold">
                                I am happy with their arrangement of lessons and subjects. They reflect a scientific  investigation.</p>
                                <p class="text-bold text-black">LUVIC DUBBLE</p>
                                <p>/ Private Tutor</p>
                            </div>
                        </div>
                    </div>
                    <div class="selector">
                        <span v-for="i in 4"></span>
                    </div>
                    <div class="certification">
                        <h3 class="text_violet">Start today for getting <span class="text_green">Online Certification</span>
                        </h3>
                        <h2>You can be your own guiding star with our help!</h2>
                        <button type="button" name="button">Get started now</button>
                    </div>
                </div>
            </section>
            <footer>
                <div class="container">
                    <div class="footer-row">
                        <div class="footer-left col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="address">
                                <h4>{{Object.keys(footer_items)[0]}}</h4>
                                <p class="text_gray" v-for="items in  footer_items.address">{{items}}</p>
                                <i v-for="item in socials" class="fab text_gray" :class="item"></i>
                            </div>
                        </div>
                        <div class="footer-right col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="explore">
                                <h4>{{Object.keys(footer_items)[1]}}</h4>
                                <div class="explore-list">
                                    <a href="#" class="text_gray" v-for="items in  footer_items.explore">{{items}}</a>
                                </div>
                            </div>
                            <div class="information">
                                <h4>{{Object.keys(footer_items)[2]}}</h4>
                                <a href="#" class="text_gray" v-for="items in  footer_items.information">{{items}}</a>
                            </div>
                        </div>
                    </div>
                    <p>© 2020 Maxcoach. All Rights Reserved</p>
                </div>
            </footer>
        </div>
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
