* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

#root{
    width: 100%;
}

h2{
    font-size: 40px;
    color: #513e5e;
}

p{
    font-size: 17px;
    color: #b6b8d1;
    padding: 20px 0;
}

button{
    padding: 15px 30px;
    background-color: #22ad96;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
    opacity: 0.8;
}

header{
    width: 100%;
    height: 650px;
    background-color: #f0efef;
}

.header-top{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top-left{
    /* background-color: yellow; */
    height: 80px;
    display: flex;
    align-items: center;
}

.header-top-left img{
    height: 20px;
}

.header-top-right{
    /* background-color: red; */
    width: 900px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.nav{
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.nav>a{
    /* background-color: blue; */
    display: inline-block;
    height: 100%;
    /* margin-right: 10px; */
    display: flex;
    align-items: center;
    color: #513e5e;
    text-decoration: none;
}
.nav>a:hover{
    opacity: 0.8;
}

i.fa-chevron-down{
    padding-left: 5px;
    font-size: 10px;
}

.search-cont{
    width: 300px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.search-cont input{
    /* width: 300px; */
    height: 45px;
    border-radius: 5px;
    border: none;
}

.search-cont input:focus{
    outline: none;
}

.search-cont i:hover{
    cursor: pointer;
    opacity: 0.8;
}

i.fa-shopping-cart>span{
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    background-color: #22ad96;
    position: absolute;
    top: 23px;
    left: 34px;
    font-size: 10px;
    color: white;
    text-align: center;
    padding-top: 2px;
}

i.fa-search{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    color: #22ad96;
}

.header-bottom{
    display: flex;
    justify-content: space-between;
}

.header-bottom-left{
    width: 400px;
    padding-top: 150px;
}

.header-bottom-right{
    width: 450px;
    padding-top: 50px;
}

.header-bottom-right img{
    width: 100%;
}
