* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

#root{
    width: 100%;
}

h2{
    font-size: 40px;
    color: #513e5e;
}

h4{
    color: #484848;
    font-size: 18px;
}

p{
    font-size: 17px;
    /* color: #b6b8d1; */
    color: #959999;
    padding: 20px 0;
}

.text_white{
    color: white;
}

.text_gray{
    color: #959999;
}

.text_green{
    color: #22ad96;
}

.text_min{
    font-size: 16px;
}

.align-center{
    display: flex;
    align-items: center;
}

button{
    padding: 15px 30px;
    background-color: #22ad96;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
    opacity: 0.8;
}

header{
    width: 100%;
    height: 650px;
    background-color: #f0efef;
}

.header-top{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top-left{
    /* background-color: yellow; */
    height: 80px;
    display: flex;
    align-items: center;
}

.header-top-left img{
    height: 20px;
}

.header-top-right{
    /* background-color: red; */
    width: 900px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.nav{
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.nav>a{
    /* background-color: blue; */
    display: inline-block;
    height: 100%;
    /* margin-right: 10px; */
    display: flex;
    align-items: center;
    color: #513e5e;
    text-decoration: none;
    font-weight: 500;
}
.nav>a:hover{
    opacity: 0.8;
}

i.fa-chevron-down{
    padding-left: 5px;
    font-size: 10px;
}

.search-cont{
    width: 300px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.search-cont input{
    /* width: 300px; */
    height: 45px;
    border-radius: 5px;
    border: none;
}

.search-cont input:focus{
    outline: none;
}

.search-cont i:hover{
    cursor: pointer;
    opacity: 0.8;
}

i.fa-shopping-cart>span{
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    background-color: #22ad96;
    position: absolute;
    top: 23px;
    left: 34px;
    font-size: 10px;
    color: white;
    text-align: center;
    padding-top: 2px;
}

i.fa-search{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    color: #22ad96;
}

.header-bottom{
    display: flex;
    justify-content: space-between;
}

.header-bottom-left{
    width: 400px;
    padding-top: 150px;
}

.header-bottom-right{
    width: 450px;
    padding-top: 50px;
}

.header-bottom-right img{
    width: 100%;
}


/*TARGET*/

.targets{
    text-align: center;
    background-color: #fefefe;
}

h2>span{
    color: #22ad96;
}

.categories{
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.category{
    /* background-color: red; */
    width: 25%;
    height: 350px;
    padding: 0 10px;
}

.img-cont{
    width: 100%;
    height: 200px;
}

.category img{
    height: 80%;
    /* width: 50%; */
}

.category>a{
    font-weight: bold;
    text-decoration: none;
    color: #959999;
}

.category>a:hover{
    opacity: .8;
}

.career-prospective{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

.career-prospective>div>div{
    box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.2);
    margin: 30px 0;
    border-radius: 8px;
    text-align: left;
}

.career-prospective-right{
    width: 600px;
}

.career-prospective-right i{
    font-size: 20px;
}

.career-prospective-right i:hover{
    cursor: pointer;
    opacity: .8;
}

.Platform-Supported{
    margin-top: 30px;
    /* width: 80%; */
    /* background-color: blue; */
}

.Platform-Supported-header{
    font-weight: bold;
    color: white;
    background-color: #22ad96;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.Platform-Supported-header,
.multiple-course,
.sudy-progress{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}



.Platform-Supported-main{
    padding: 0 20px;
    /* background-color: yellow; */
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/*STATISTICS*/

.statistics{
    height: 200px;
    background-color: #f0efef;
}

.statistics .container{
    height: 100%;

}

.statistics .row{
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: yellow; */
    align-items: center;
}

.statistics>.container>div{
    text-align: center;
}


/*STATISTICS*/

.prices{
    padding: 100px 0;
    text-align: center;
}

.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 0;
}

.card{
    width: 32%;
    height: 450px;
    margin: 15px 0;
    /* background-color: red; */
    border-radius: 10px;
    text-align: left;
}

.card:hover{
    cursor: pointer;
    box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.2);
}

.card>div{
    height: 50%;
}

.card-top>img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card-top{
    position: relative;
}

.card-top>.price{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #22ad96;
    width: 90px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 0px 10px;
}

.card-top>.price>span{
    color: white;
    font-weight: bold;
}

.card-top>.price>span>span{
    color: white;
    font-weight: bold;
    font-size: 13px;
}

.card-bottom{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-bottom img{
    border-radius: 50%;
    margin-right: 10px;
}

.card-bottom>div:last-child span{
    display: inline-block;
    margin-top: 30px;
    font-size: 13px;
}

.card-bottom>div:last-child span:last-child{
    margin-left: 10px;
}

.prices button{
    padding: 15px 70px;
    font-size: 15px;
}
