* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Glory-font-Medium;
}

@font-face {
   font-family: Glory-font-Bold;
   src: url(Gilory-font/Gilroy-Bold.ttf);
}

@font-face {
   font-family: Glory-font-Medium;
   src: url(Gilory-font/Gilroy-Medium.ttf);
}

@font-face {
   font-family: Glory-font-Light;
   src: url(Gilory-font/Gilroy-Light.ttf);
}

.font-bold{
    font-family: Glory-font-Bold;
}

.font-light{
    font-family: Glory-font-Light;
}

#root{
    width: 100%;
}

h2{
    font-size: 50px;
    color: #513e5e;
    font-family: Glory-font-Bold;
}

h2>span{
    color: #22ad96;
    font-family: Glory-font-Light;
}

h3{
    font-size: 22px;
}

h4{
    color: #484848;
    font-size: 18px;
}

p{
    font-size: 17px;
    /* color: #b6b8d1; */
    color: #959999;
    padding: 20px 0;
    line-height: 1.67em;
}

.text_white{
    color: white;
}

.text-black{
    color: #3d3d3d;
}

.text_gray{
    color: #696969;
}

.text_green{
    color: #22ad96;
}

.text_violet{
    color: #513e5e;
}

.text_min{
    font-size: 16px;
}

.text-bold{
    font-weight: bold;
}

.align-center{
    display: flex;
    align-items: center;
}

button{
    padding: 15px 30px;
    background-color: #22ad96;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
    background-color: #504b71;
}

/*HEADER*/

header{
    width: 100%;
    /* height: 650px; */
    background-color: #f0efef;
    padding-bottom: 100px;
}

.header-top{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top-left{
    /* background-color: yellow; */
    height: 80px;
    display: flex;
    align-items: center;
}

.header-top-left img{
    height: 20px;
}

.header-top-right{
    width: auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.nav{
    width: 600px;
    height: 100%;
    display: none;
    justify-content: space-between;
}

.nav>a{
    /* background-color: blue; */
    display: inline-block;
    height: 100%;
    /* margin-right: 10px; */
    display: flex;
    align-items: center;
    color: #513e5e;
    text-decoration: none;
    font-weight: 500;
}
.nav>a:hover{
    opacity: 0.8;
}

i.fa-chevron-down{
    padding-left: 5px;
    font-size: 10px;
}

.search-cont{
    width: 300px;
    padding-left: 20px;
    display: none;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.search-cont input{
    /* width: 300px; */
    height: 45px;
    border-radius: 5px;
    border: none;
}

.search-cont input:focus{
    outline: none;
}

.search-cont i:hover{
    cursor: pointer;
    opacity: 0.8;
}

i.fa-shopping-cart>span{
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    background-color: #22ad96;
    position: absolute;
    top: 23px;
    left: 34px;
    font-size: 10px;
    color: white;
    text-align: center;
    padding-top: 2px;
}

i.fa-search{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    color: #22ad96;
}

.hamburger-menu{
    color: #22ad96;
    font-size: 30px;
    width: 70px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger-menu:hover{
    cursor: pointer;
}

.header-bottom{
    display: block;
    justify-content: space-between;
}

.header-bottom-left{
    width: 400px;
    padding-top: 150px;
}

.header-bottom-right{
    width: 500px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.header-bottom-right img{
    width: 100%;
}


/*TARGET*/

.targets{
    text-align: center;
    background-color: #fefefe;
}

.categories{
    width: 100%;
    padding: 30px 0;
    display: inline-block;
}

.category{
    height: 350px;
    padding: 0 10px;
}

.img-cont{
    width: 100%;
    height: 200px;
}

.category img{
    height: 80%;
    /* width: 50%; */
}

.category>a{
    font-weight: bold;
    text-decoration: none;
    color: #959999;
}

.category>a:hover{
    opacity: .8;
}

.career-prospective{
    padding: 60px 0;
    content: "";
    display: table;
    clear: both;
}

.career-prospective>div>div{
    box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.2);
    margin: 30px 0;
    border-radius: 8px;
    text-align: left;
}

.career-prospective-right{
    width: 600px;
}

.career-prospective-right i{
    font-size: 20px;
}

.career-prospective-right i:hover{
    cursor: pointer;
    opacity: .8;
}

.Platform-Supported{
    margin-top: 30px;
    /* width: 80%; */
    /* background-color: blue; */
}

.Platform-Supported-header{
    font-weight: bold;
    color: white;
    background-color: #22ad96;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.Platform-Supported-header,
.multiple-course,
.sudy-progress{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}



.Platform-Supported-main{
    padding: 0 20px;
    /* background-color: yellow; */
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/*STATISTICS*/

.statistics{
    width: 100%;
    height: 200px;
    background-color: #f0efef;
    content: "";
    display: table;
    clear: both;
}

.statistics .container{
    height: 100%;
}

.statistics .row{
    height: 100%;
}

.statistics>.container>div{
    text-align: center;
    padding-top: 40px;
}

/*STATISTICS*/

.prices{
    padding: 100px 0;
    text-align: center;
}

.cards{
    width: 100%;
    /* display: flex; */
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 0;
    content: "";
    display: table;
    clear: both;
}

.card{
    width: 90%;
    height: 450px;
    margin: 15px 15px;
    /* background-color: red; */
    border-radius: 10px;
    text-align: left;
}

.card:hover{
    cursor: pointer;
    box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.2);
}

.card>div{
    height: 50%;
}

.card-top>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card-top{
    position: relative;
}

.card-top>.price{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #22ad96;
    width: 90px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 0px 10px;
}

.card-top>.price>span{
    color: white;
    font-weight: bold;
}

.card-top>.price>span>span{
    color: white;
    font-weight: bold;
    font-size: 13px;
}

.card-bottom{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-bottom img{
    border-radius: 50%;
    margin-right: 10px;
}

.card-bottom>div:last-child span{
    display: inline-block;
    margin-top: 30px;
    font-size: 13px;
}

.card-bottom>div:last-child span:last-child{
    margin-left: 10px;
}

.prices button{
    padding: 15px 70px;
    font-size: 15px;
}


/*LEARN*/

.learn{
    padding: 80px 0;
}

.learn .pace,
.learn .mobile{
    padding: 50px 0;
    display:flex;
    justify-content: space-between;
}

.mobile-left,
.pace-left{
    width: 50%;
}

.pace-right{
    width: 50%;
}


.pace-left i{
    color: #22ad96;
    margin-right: 10px;
}

.mobile-right,
.pace-left h2{
    padding-right: 300px;
    margin: 20px 0;
}

.mobile-right,
.pace-left p{
    padding: 10px 0;
}

.mobile-right button,
.pace-left button{
    margin: 25px 0;
    padding: 20px 45px;
}

.mobile-right{
    width: 45%;
}

.mobile-left h2{
    margin: 20px 0;
}

/*EVENTS*/

.events{
    text-align: center;
    margin-bottom: 100px;
}

.events-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.event{
    width: 49%;
    height: 180px;
    background-color: #f8f8f8;
    margin: 20px 0;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    text-align: left;
}

.event:hover{
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.2);
    border-left: 3px solid #22ad96;
}

.event:hover .event-right>button{
    background-color: #513e5e;
}

.event-left{
    width: 70%;
}

.event-left p:nth-child(1){
    font-size: 13px;
    padding-top: 30px;
    padding-bottom: 0;
}

.event-left p:nth-child(2){
    font-size: 19px;
}

.event-right{
    text-align: center;
}

.event-right p:nth-child(1){
    font-size: 50px;
    padding: 0;
    padding-top: 20px;
}

.event-right p:nth-child(2){
    font-size: 15px;
    padding: 0;
    padding-bottom: 10px;
}

.event-right>button{
    padding: 9px 33px;
}
.events-list{
    margin-bottom: 40px;
}

.events a{
    font-weight: bold;
    text-decoration: none;
}


/*REVIEWS*/


.reviews{
    background-color: #f8f8f8;
    text-align: center;
}

.slider{
    margin-top: 150px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.slide{
    width: 32%;
    height: 350px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.1);
    position: relative;
    padding: 90px 30px 30px 20px;
}

.slide>img{
    width: 150px;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

}

.slide>p:nth-child(2){
    color: #504b71;
}

.slide p:last-child{
    padding: 0;
    font-size: 13px;
}
.selector{
    display: flex;
    justify-content: center;
    align-items: center;
}

.selector>span{
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #b7b5c4;
    border-radius: 50%;
    margin: 0 10px;
}
.selector>span:hover{
    cursor: pointer;
}

.selector>span:first-child{
    height: 15px;
    width: 15px;
    background-color: #504b71;
}

.certification{
    padding: 80px 0;
}

.certification>button{
    margin: 40px 0;
    padding: 20px 70px;
}


/*FOOTER*/

footer{
    padding-top: 100px;
    padding-bottom: 50px;
}

footer h4{
    text-transform: capitalize;
    padding-bottom: 5px;
}

footer>.container>p{
    text-align: center;
    padding-top: 80px;
}

.footer-row{
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
}

.footer-left{
    /* background-color: blue; */
}

.footer-left p{
    padding: 8px 0;
    font-size: 14px;
}

.footer-left i{
    margin-right: 30px;
    margin-top: 30px;
    font-size: 25px;
}

.footer-right{
    width: 45%;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}

.explore,
.information{
    padding: 0 20px;
}

.information{
    width: 400px;
    margin-right: 100px;
    /* background-color: magenta; */
}

.explore-list{
    /* background-color: magenta; */
    width: 220px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.explore-list a{
    display:inline-block;
    width: 110px;
}

.footer-right a{
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
    /* font-weight: bold; */
}

.footer-right h4{

    padding-left: 10px;

}


/********************************/
/**********MEDIA QUERY***********/
/********************************/
/*SMALL*/
@media all and (min-width: 577px){

}

/*MEDIUM*/
@media all and (min-width: 769px) {

    .search-cont{
        display: flex;
    }

    .header-bottom{
        display: flex;
    }

}

/*LARGE*/
@media all and (min-width: 993px){

    .header-top-right{
        width: 900px;
    }

    .nav{
        display: flex;
    }
    .hamburger-menu{
        display: none;
    }

}


/*VERY LARGE*/
@media all and (min-width: 1201px){

}
